@use '../../abstracts' as abs;

.signUp {
    grid-template-columns: repeat(2, 1fr);

    &-text {
        @include abs.styleHeading($fz: 16px, $fw: 500, $lh: 24px, $color:abs.$gray-3);
        display: block;
    }

    &-listImg {
        img {
            @include abs.size(40px);
            border-radius: 100rem;
            margin-left: -40px;
            border: 2px solid abs.$white-color;
        }
    }

    h3 {
        @include abs.styleHeading($fz: 24px);
    }

    &-separate {
        @include abs.styleText();
    }
}