@use '../../abstracts' as abs;

.signUp {

    &-s2 {

        &-search {
            width: 660px;
            padding: 12px 20px;
            border-radius: 12px;
            background: abs.$natural-2;
            margin-bottom: 30px;
        }
    }
}