@use "../../abstracts" as abs;

.feed {

    &-tab {
        &-item {
            
            &-link {
                border: none !important;
                border-bottom: 2px solid abs.$bg-3 !important;
                color: abs.$gray-1 !important;
                @include abs.fs('sm');
                @include abs.fw('bold');
                line-height: 20px;

                &.active {
                    border-bottom: 1px solid abs.$primary-color !important;
                    color: abs.$primary-color !important;
                }
            }


        }

    }

    &-toggle {
        p {
            margin-bottom: 0;
            margin-left: 10px;
        }
    }
}