@use "../../abstracts" as abs;

.feed {

    &-tab {
        &-item {
            
            &-link {
                border: none !important;
                border-bottom: 2px solid abs.$bg-3 !important;
                color: abs.$gray-1 !important;
                @include abs.fs('sm');
                @include abs.fw('bold');
                line-height: 20px;

                &.active {
                    border-bottom: 2px solid abs.$primary-color !important;
                    color: abs.$primary-color !important;
                    transition: all 0.3s linear;
                }
            }


        }

    }

    &-toggle {

        border-bottom: 2px solid abs.$natural-2 !important;

        p {
            margin-bottom: 0;
            margin-left: 10px;
        }
    }
}