@use "../../abstracts" as abs;

.feed {

    &-tab {
        border-bottom: 1px solid abs.$bg-3 !important;
        &-item {
            
            &-link {
                border: none !important;
                color: abs.$gray-1 !important;
            }
        }

    }

    &-toggle {
        p {
            margin-bottom: 0;
            margin-left: 10px;
        }
    }
}