.topPodcast {
    &-header {
        margin-bottom: 18px;
    }

    &-main {
        grid-template-rows: minmax(0, 2);
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        img {
            flex: 0 0 84px;
            aspect-ratio: 1;
        }
    }


}