@use '../../abstracts' as abs;

.topics {
    &-header {
        margin-block: 43px 18px;
    }

    &-img {
        width: 155px;
        height: 86px;
        flex-shrink: 0;
        border-radius: 10px;
        opacity: 0.74;
        background-color: abs.$text-black1;
    }
}