@use '../../abstracts' as abs;


.trendingE {

    &-header {
        margin-block: 42px;

        span {
            @include abs.styleText();
        }
    }

    &-heading {
        @include abs.fs(18px);
        @include abs.fw('semibold');
        color: abs.$text-black1;
        line-height: 26px;
        --mb: 8px;
    }

    &-main {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    &-img {
        @include abs.size(204px, 159px);
        flex-shrink: 0;
        margin: 14px 20px 28px;

        img {
            @include abs.imgRounded(12px)
        }
    }
}