@use '../../abstracts' as abs;

.trendingP {

    &-heading {
        @include abs.fs(24px);
        @include abs.fw('semibold');
        line-height: 26px;
        --mb: 40px;
    }

    &-item {
        background-color: abs.$bg-4;
    }

    &-info {

        h3 {
            @include abs.fs(22px);
            @include abs.fw('semibold');
            line-height: 29px;
        }

        &:nth-child(2), &:nth-child(3) {
            @include abs.styleText()
        }
    }

}