@use '../../abstracts' as abs;

.trendingP {

    &-heading {
        @include abs.fs(24px);
        @include abs.fw('semibold');
        line-height: 26px;
        --mb: 40px;
    }

    &-item {
        background-color: abs.$bg-4;
        padding-inline: 32px;
        @include abs.size(628px, 293px);
    }

    &-info {

        h3 {
            @include abs.fs(22px);
            @include abs.fw('semibold');
            line-height: 29px;
            color: abs.$white-color;
        }

        &:nth-child(2), &:nth-child(3) {
            @include abs.styleText();
            color: abs.$white-color;
        }

        &:nth-child(3) {
            margin-block: 9px 22px;
        }
    }

    &-img {
        flex: 0 0 280px;
        width: 280px;
        aspect-ratio: 1;

        img {
            @include abs.imgRounded()
        }
    }

}