@use '../abstracts' as abs;


.width-full {
    width: 100%;
}

.color-gray {
    color: abs.$text-gray !important;
}

.heading {
    @include abs.fs('lg');
    color: abs.$text-black1;
    margin-bottom: 20px;
    @include abs.fw('semibold');
}