@use '../abstracts' as abs;


@include abs.screenMinWidth(768px) {
    .trending-circle  {
        right: 15px;
    }
}

@include abs.screenMaxWidth(1279.8px) {
    .main-container {
        padding: 24px;
    }

    .home-wrapper {
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: none;
    }
}