@use '../abstracts' as abs;

.menu {
    &-link {
        color: abs.$text-gray !important;
        font-size: 16px !important;
        line-height: 143%;
        font-weight: 500 !important;
        padding: 15px 0px 15px 20px !important;
        border-radius: 12px;

        &:hover {
            background: linear-gradient(92.29deg, #415EF4 0.33%, #7141EF 28.14%);
            color: abs.$white-color !important;
        }
    }


}