.waveform-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .waveform {
    width: 20px; /* Set the width of the waveform */
    height: 100px; /* You can adjust the height as needed */
    margin-bottom: 20px;
  }