@use '../abstracts' as abs;

.sidebar {
    background-color: abs.$white-color;
    padding: 48px 30px 0;
}

.logo {
    display: block;
    margin-bottom: 44px;
}

.menu {
    --gap: 26px;
    &::after {
        content: "";
        display: block;
        height: 1px;
        background-color: abs.$gray-e9;
        margin-block: var(--gap);
    }
}