@use '../abstracts' as abs;

.sidebar {
    background-color: abs.$white-color;
    padding: 48px 0px 0;
    border-right: 1px solid abs.$natural-2;
}

.logo {
    display: block;
    margin-bottom: 44px;
}
