.waveform-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 15px;
    padding-right: 40px;
  }
  
  .waveform {
    width: 90px; /* Set the width of the waveform */
    height: 20px; /* You can adjust the height as needed */

    &-time {
        margin: 0 0 0 5px !important;
    }

    .canvases canvas {
        height: 20px !important;
    }
}

.play-pause-btn {
    background-color: #fff;
}