@use '../../abstracts' as abs;
@forward './create-team';

.team {

    container-type: inline-size;
    container-name: teamContainer;

    &-header {
        margin-bottom: 40px;
    }

    &-heading {
        @include abs.fs(22px);
        @include abs.fw('semibold');
        color: abs.$text-black1;
        line-height: 24px;
    }

    &-main {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    @container  teamContainer(max-width: 768px) {
        .button-team {
            span {
                display: none;
            }
        }
    }
}