@use '../../abstracts' as abs;

.explore {
    &-heading {
        @include abs.fs(24px);
        @include abs.fw('semibold');
        color: abs.$text-black1;
        line-height: 26px;
        --mb: 14px;
    }

    &-header {
        span {
            @include abs.styleText();
            margin-bottom: 38px;
        }
    }

    &-list {
        grid-template-columns: repeat(4, 1fr);
        gap: 36px;
    }

    &-item {
        img {
            @include abs.size(240px, 86px);
            flex-shrink: 0;
            border-radius: 10px;
            position: relative;
        }
    }
}