@use '../../abstracts' as abs;

.exploreItem {

    &-heading {
        @include abs.fs(22px);
        @include abs.fw('semibold');
        color: abs.$text-black1;
        line-height: 26px;
        --mb: 6px;
    }

    &-header {
        span {
            @include abs.styleText();
            margin-bottom: 38px;
            display: block;
        }
    }

}